* {
    box-sizing: border-box;
    margin: 0;
}

@font-face{
    font-family: JWfont;
    src:url(commadorNormal.ttf);
}

@font-face{
    font-family: Manrope;
    src:url(Manrope.ttf);
}

body {
    background-color: #010101;
}

h1 {
    font-family: JWfont;
    font-size: 4rem;
    color: #7EB0E3;
}

h2 {
    font-family: JWfont;
    font-size: 3rem;
    color: #551051;
}

header {
    display: flex;
}

p {
    font-family: Manrope;
    font-size: 1rem;
    color: #7EB0E3;
}